@model CategoryDto
@{
    ViewData["Title"] = "Create Category";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Category" asp-action="Index">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <div class="col-12">
            <form method="post">
                <fieldset>
                    <legend class="text-primary">Create Category</legend>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label mt-4"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="form-label mt-4"></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}